body{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: hsl(hue, saturation, lightness);
}
h1{
    color: #5656d4;
}
form{
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}
#textbox{
     width: 50%;
     text-align: center;
     font-size: 2em;
    border: 2px solid rgba(2, 2, 2, 0.247);
    border-radius: 4px;
    margin-bottom: 15px;
}
button{
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(248, 94, 94);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: red;
}
#result {
    font-size: 1.75em;
    font-weight: bold;
}